<nav>
  <div class="nav-wrapper"><a class="brand-logo" href="/">BookStore</a>
    <ul class="right hide-on-med-and-down" id="nav-mobile">
      <li><a href="/">Home</a></li>
      <li><a href="/api/books">Books</a></li>
      <li><a href="/about">About us</a></li>
    </ul>
  </div>
</nav>